// Definizione delle variabili SCSS per colori e font
$font-family-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height-base: 1.5;
$font-weight-base: 400;

// Import di Tailwind CSS
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

// Stili globali
:root {
    font-family: $font-family-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    margin: 0 auto;
    height: 100%;
}

@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark){
	
}